
.form-container {
    width: 400px;
    height: 300px;
    margin: 12em auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #999999;
}

#login-div {
    display: block;
}

#reg-form {
    display: none;
}

.header {
    padding: 5px 0;
    font-size: 24px;
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    color: var(--text-color-primary);
}

form input[type="submit"] {
    background-color: var(--primary-color);
    margin: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 1px 3px #999999;
    color: var(--text-color-primary);
    width: 80%;
    height: 35px;
}

form input[type="submit"]:hover {
    box-shadow: 0px 1px 3px #6b6b6b;
}

.mat-input-group {
    margin: 10px 30px;
}

.links {
    width: 80%;
    margin: 5px auto;
}

#fpass {
    float: left;
}

#reg {
    float: right;
}
