
.nav-items {
    padding: 0px;
    margin-top: 0px;
    background-color: var(--primary-color);
    list-style: none;

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
    align-items: center;

    box-shadow: 0 8px 6px -6px #999;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: var(--header-height);
    z-index: 1;

}

.nav-but {
    background-color: transparent;
    border: none;
    color: var(--text-color-primary);
    padding: 15px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

#home-but {

    padding: 15px 16px;
    font-size: 20px;
    margin: 0px 10px;
}

#home-item {
    margin-right: auto;
}
