
table {
    width: calc(100% - 20px);
    border-collapse: collapse;
    margin: calc(var(--header-height) + 20px) 10px 10px 10px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0px 1px 5px #999999;
}

table thead tr {
    color: #757575;
    text-align: left;
}

table tr td:nth-child(5),
table tr th:nth-child(5) {
    text-align: center;
}

table tr td:nth-child(5) a {
    color: black;
}

table thead tr p {
    color: #000000;
    margin: 0;
}

table tbody tr {
    border-bottom: thin solid #dddddd;
}

table tbody tr:hover {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

table th,
table td {
    padding: 12px 15px;
    white-space: nowrap;
}

table tr td:nth-child(2),
table tr th:nth-child(2) {
    width:100%;
}
